body{
  font-family: "Montserrat-Black", sans-serif;  
}

.container-fluid{
  padding: 3% 15%;
}


#title{
  color: white;
  background-color: #ff4d68;
}

#features{
  padding: 7% 15%;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}



.container-fluid{
  padding: 3% 15%;
}

h3{
  font-family: "Montserrat-Black", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.apple{
  height: 20px;
  width: 20px;
  margin-bottom: 5px;
  margin-right: 5px;    
}

.android{
  height: 20px;
  width: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}


.title-img{
  width: 60%;
  transform: rotate(25deg);
}

i{
  color: #ef8172;
  margin: 0 0 20px 0;
}

i:hover{
  color: #ff4d68;
  cursor: pointer;
}

.feat-text{
  color: #8F8F8F;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  margin: 10 0 20px 0;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-img:hover{
  box-shadow: 0 6px 20px rgb(36, 22, 22);
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

#pricing{
  padding: 100px;
}

.pricing-card{
  padding: 3% 2%;
}